/*
公司简介&团队信息*/

#compayprofiles {
    display: block;
    width: 100%;
    line-height: 1.6em;
}

#compayprofiles .company_content {
    display: block;
    width: 960px;
}

#compayprofiles #companyprofile_hpage_slider {
    display: block;
    width: 960px;
    height: 338px;
    color: #999999;
    background-color: #FAFAFA;
    border: 1px solid #D8D9DE;
    border-bottom-color: #FAFAFA;
    overflow: hidden;
}

#compayprofiles #companyprofile_hpage_slider div.item {
    position: relative;
    display: block;
    width: 930px;
    height: 320px;
    margin: 9px;
}

/* ----------------------------------------------Slider Navigation Buttons-------------------------------------*/

/*

Navigation dynamically created using: jquery.cycle.setup.js and jquery.cycle.min.js

HTML Output:

<div id="fsn">
  <ul id="fs_pagination">
    <li><a href="javascript:void()">1</a></li>
    <li><a href="javascript:void()">2</a></li>
    <li><a href="javascript:void()">3</a></li>
    <li><a href="javascript:void()">4</a></li>
    <li><a href="javascript:void()">5</a></li>
  </ul>
</div>

*/

#compayprofiles #fsn {
    display: block;
    position: relative;
    width: 960px;
    height: 18px;
    margin: 0 0 25px 0;
    text-align: center;
    z-index: 1000;
    color: #999999;
    background-color: #FAFAFA;
    border: 1px solid #D8D9DE;
    border-top-color: #FAFAFA;
}

#compayprofiles #fsn ul {
    display: block;
    position: relative;
    width: 200px;
    height: 10px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

#compayprofiles #fsn ul li, #compayprofiles #fsn ul li a {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    padding: 0;
}

#compayprofiles #fsn ul li a {
    float: left;
    border: none;
    margin: 0;
    outline: none;
    text-indent: -5000px;
    text-decoration: none;
    background: url("../images/slide.png") 50% 50% no-repeat;
}

#compayprofiles #fsn .activeSlide {
    background: url("../images/slide.png") 0% 50% no-repeat;
}
