/*招聘，加入我们的css*/
#joinourteam {
    display: block;
    width: 100%;
}

#joinourteam ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#joinourteam li {
    color: #999999;
    background-color: #ffffff;
    border-top: 1px solid #D8D9DE;
    margin: 0 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 20px;
    font-size: 14px;
}

#joinourteam .title {
    font-size: 18px;
    font-style: oblique;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: 1px solid #D8D9DE;
}

#joinourteam .jobtitle {
    width: 210px;
    display: block;
    float: left; /*水平布局属性*/
}

#joinourteam .content {
    display: block;
    float: left;
    width: 730px;
    min-height: 600px;
    border-top: 1px solid #D8D9DE;
    border-left: 1px solid #D8D9DE;
    float: left; /*水平布局属性*/
}

#joinourteam .projectdescription {
    line-height: 2em;
    min-height: 60px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
